<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- items -->
            <table class="table table-bordered" ng-init="updateBuy()">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td></td>
                    <td class="tdRight"><b>Price</b></td>
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0">
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.Name}}</td>
                    <td class="tdCenter">
                        <div>
                            {{item.InventoryCount}}
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-success" type="button" style="float: right"
                                    ng-disabled="item.InventoryCount > store.getProduct(item.ProductId).InventoryCount - 1"
                                    ng-click="cart.addItem(item.ProductId, item.Name, item.Price, +1)">+</button>
                            <button class="btn btn-inverse" type="button" style="float: right"
                                    ng-disabled="item.InventoryCount < 1"
                                    ng-click="cart.addItem(item.ProductId, item.Name, item.Price, -1)">-</button>
                        </div>
                    </td>
                    <td class="tdRight">{{item.Price * item.InventoryCount | currency}}</td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                </tr>
            </table>
        </div>

        <!-- buttons -->
        <div class="span8" ng-hide="buy">
            <div>
                <b>Please enter your email address to continue with purchase:</b>
                <label name="label">
                    <input class="span3 text-center" type="email" name="input" ng-model="emailInfo.text" ng-pattern="emailPattern"> 
                </label>
            </div>
            <div>
                <table class="table table-hover">
                    <tr>
                        <td>
                            <button class="btn btn-block btn-primary"
                                    ng-show="emailInfo.text"
                                    ng-click="update(cart.items, emailInfo.text)"
                                    ng-disabled="cart.getTotalCount() < 1">
                                <i class="icon-ok icon-white" /> Purchase
                            </button>
                        </td>
                        <td></td>
                        <td ng-hide="buy">
                            <button class="btn btn-block"
                                    onclick="window.location.href='default.htm'">
                                <i class="icon-chevron-left" /> back to store
                            </button>
                        </td>
                        <td></td>
                        <td ng-hide="buy">
                            <button class="btn btn-block btn-danger"
                                    ng-click="cart.clearItems()"
                                    ng-disabled="cart.getTotalCount() < 1">
                                <i class="icon-trash icon-white" /> clear cart
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        <div>
            <h3 style="text-align:center">{{waitMessage}}</h3>
        </div>
    </div>
</div>
