<p ng-init="httpgetCategory()">
    <h3 style="text-align:center">{{waitMessage}}</h3>
</p><br />
<p ng-init="httpgetManufacturers()">

</p>
<p  ng-init="httpget()">
    Search: <input ng-model="search">
    <span style="padding-left: 10px">Sort by Category:</span>
    <select ng-model="dropCategory">
        <option value="">All</option>
        <option ng-repeat="cat in Categories">{{cat.CategoryName}}</option>
    </select>
    <span style="padding-left: 10px">Sort by Manufacturer:</span>
    <select ng-model="dropManufacturer">
        <option value="">All</option>
        <option ng-repeat="man in Manufacturers">{{man.ManfacturerName}}</option>
    </select>
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="6" ng-hide="buy">
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items.  Total: <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
            <a style="float: right" href="default.htm#/cart" title="shopping cart">Check Out</a>
        </td>
    </tr>
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Quantity</b>
        </td>
        <td>
            <b>Price</b>
        </td>
        <td>
            <b>Category</b>
        </td>
        <td>
            <b>Manufacturer</b>
        </td>
        <td>
            <b>Purchase</b>
        </td>
    </tr>
    <tr  ng-repeat="product in store.products | filter:search | filter:dropCategory | filter:dropManufacturer"  >
        <td>
            <a href="#/products/{{product.ProductId}}"><b>{{product.Name}}</b></a><br />
        </td>
        <td>
            Qty: {{product.InventoryCount - cart.getTotalCount(product.ProductId)}}
        </td>
        <td class="tdRight">
            {{product.Price | currency}}
        </td>
        <td>
            {{product.Category.CategoryName}}
        </td>
        <td>
            {{product.Manufacturer.ManfacturerName}}
        </td>
        <td class="tdCenter">
            <button
                class="btn btn-block btn-success"
                ng-click="cart.addItem(product.ProductId, product.Name, product.Price, 1)" 
                ng-disabled="product.InventoryCount - cart.getTotalCount(product.ProductId) < 1" >
                <i class="icon-shopping-cart icon-white" /> Add to Cart
            </button>
        </td>
    </tr>
    <!--<tr class="well">
        <td class="tdRight" colspan="4">
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items.  Total: <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>-->
</table>
